* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9d8;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #1e3a8a;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
header {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #3b82f6, #9333ea);
    color: white;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgb(247, 170, 111);
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #118891;
    color: white;
}